# 공통 영역 - 관리자 리뷰 필수
/.github/          @L3G4CY-TEAM/admins
/templates/        @L3G4CY-TEAM/admins
/README.md         @L3G4CY-TEAM/admins
/CONTRIBUTING.md   @L3G4CY-TEAM/admins
/CODEOWNERS        @L3G4CY-TEAM/admins
/.gitignore        @L3G4CY-TEAM/admins
/.gitattributes    @L3G4CY-TEAM/admins
